.banner{
	padding-top: 1em;
}
.copy{
	margin:0;
	&__title{
		color: $color2;
		font-weight: 600;
		margin:.5em 0 .3em;
		text-transform: uppercase;
		span{
			font-weight: 300;
			text-transform: none;
		}
	}
	&__description{
		font-size: 1em;
		margin-bottom: 0;
		text-align: justify;
		color: #fff;
	}
	&__button{
		color: #fff;
		background: linear-gradient(
			         darken($color1, 10%),
			         darken($color1, 20%)
			);
		line-height: 2;
		display: inline-block;
		border-radius: 3px;
		margin:.5em 0;
		padding:0 1em;
		&:hover{
			color: $color2;
		}
	}
}


@include desde(tablet){
	.copy{
		color: $color2;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		left: 3em;

		&__title{
			font: 600;
			font-size: 2em;
			font-family: $body--font-family;
			color: $color1;
			line-height: 1;
			span {
				display: block;
				font-size: .6em;
				line-height: 1;
			}
		}
		&__description{
			text-align: justify;
			color: $color1;
		}
	}
}


