#header{
	background: $color1;
	color: $color-blanco;

	@include hasta(tablet){
		background: $color1;
	}

	@include desde(tablet){
		background: linear-gradient( 
			         $color1 75%,
			         transparent 75%
			         )
	}

}

.logo{
	color: $color-blanco;
	font-weight: 300;
	font-size: 2em;
	font-family: 'Open Sans';
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin: .5em 0 0;
	span{
		font-weight: 600;
		color: saturate($color2,24%);
	}

	@include desde(web){
		text-align: left;
		line-height: 1;
	}
}

 .subtitle{
 	font-family: $header--font-family;
 	font-weight: 300;
 	opacity: .7;
 	text-align: center;
 	letter-spacing: -0.04em; //Apretar la Letra
 		@include desde(web){
		text-align: left;
		line-height: 1;
	}

 }