#mostrar-menu{
	color: $color1;
	background: $color2;
	padding-left: 1em;
	line-height: 2.5em;

	@include mostrar-menu($color1,1em);

	@include desde(web){
		display:none;
	}

}
.menu{
	//
	list-style: none;
	padding: 0;
	margin: 0;

	@include hasta(web){
		display: none;
		background: lighten($color1, 5%);
		box-shadow: 0 0 1px lighten($color1, 20%);

		&__link{
			color: $color-blanco;
			padding-left: 1em;
			line-height: 2.5;
			
				&:hover{
					color: saturate($color2,10%);
				}
			}
		}

	@include desde(web){
		display: table;
		float: right;
		margin-top: 1.5em;
	}


	

		@include desde(web){
		&__item {
			float: left;
		}
		&__link {


			line-height: 2.5;
			color: #fff;
			text-transform: uppercase;
			padding: 0 1.5em;
			font-weight: 300;
			font-family: $header--font-family;
			opacity: .5;
			border-right: 1px solid rgba(#fff,.3);
				&:hover{
					opacity: 1;
				}
					

		}
	}

}
	