doctype html
html(lang="es")
	head
		title Juan Lizcano
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", type="text/css", href="tema/css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="tema/js/scripts.js")
	body
		header#header
			.grupo
				.caja.web-30
					h2.logo Hair 
						span Doctor 
					p.subtitle.
						A permanent hair loss solution

				.caja.web-70
					#mostrar-menu Menu
					ul.menu
						li.menu__item: a.menu__link(href="#") Home
						li.menu__item: a.menu__link(href="#") About us
						li.menu__item: a.menu__link(href="#servicios") Services
						li.menu__item: a.menu__link(href="#") Blog
						li.menu__item: a.menu__link(href="#") Contacts

			.grupo
				.caja
					.banner
						img(src="http://escueladigital.pe/labs/hair-doctor/img/banner.jpg", alt="")
						//-img(src="http://lorempixel.com/1000/450", alt="")
						.copy
							h2.copy__title Effective 
								span Hair Restoration
							p.copy__description
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quos quam veritatis modi. Saepe dicta perferendis numquam placeat, molestiae, ipsam! Asperiores sunt perferendis, modi qui iste est! Nihil, saepe ratione. 
							a.copy__button(href="#") more

		section#servicios
			.grupo
				.caja.total
					h2.section-title Services 
						span What we offer to our clients!

				//- tablet 3 columnas sercicios  
				.caja.tablet-1-3 
					.servicio
						img.servicio__img(src="http://lorempixel.com/640/640") 
						h3.servicio__title Hair Transplantation
						p.servicio__description
							|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi id laborum non, a nemo ipsum sapiente at aliquid nam earum nihil repudiandae natus eligendi obcaecati voluptatum. Ab consectetur, quia! 
				//- tablet 3 columnas sercicios  
				.caja.tablet-1-3   
					.servicio
						img.servicio__img(src="http://lorempixel.com/640/640") 
						h3.servicio__title Medical Treatments
						p.servicio__description
							|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tempore asperiores, ea iure recusandae ipsa illo alias eius possimus inventore repellat sit autem, facilis dignissimos quam magnam ab, esse distinctio.
				//- tablet 3 columnas sercicios
				.caja.tablet-1-3  
					.servicio
						img.servicio__img(src="http://lorempixel.com/640/640") 
						h3.servicio__title Eyebrow Transplantation
						p.servicio__description
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sequi cupiditate ducimus non, animi ipsam cumque sed voluptatem, asperiores eos recusandae. Aperiam id maiores commodi at, ea doloremque.

		section#clientes
			.grupo
				//-Apartir de Web 25% 4 columnas
				.caja.web-25 
					.clientes
						h2.clientes__titulo This is the list of our recent clients
						.clientes__nav
							.clientes__nav__item.clientes__nav__item--prev
							.clientes__nav__item.clientes__nav__item--next
				//-Apartir de Web 25% 4 columnas
				.caja.web-25 
					.cliente
						img.cliente__img(src="http://lorempixel.com/600/400") 
						h3.cliente__titulo Cliente I
						p.cliente__description
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quae laudantium iure ducimus excepturi architecto, nisi temporibus nam sequi. Voluptatem eos obcaecati earum praesentium, optio mollitia ad vero adipisci ipsum!
				
				//-Apartir de Web 25% 4 columnas
				.caja.web-25 
					.cliente
						img.cliente__img(src="http://lorempixel.com/600/400") 
						h3.cliente__titulo Cliente II
						p.cliente__description
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quae laudantium iure ducimus excepturi architecto, nisi temporibus nam sequi. Voluptatem eos obcaecati earum praesentium, optio mollitia ad vero adipisci ipsum!
			
				//-Apartir de Web 25% 4 columnas
				.caja.web-25 
					.cliente
						img.cliente__img(src="http://lorempixel.com/600/400") 
						h3.cliente__titulo Cliente III
						p.cliente__description
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quae laudantium iure ducimus excepturi architecto, nisi temporibus nam sequi. Voluptatem eos obcaecati earum praesentium, optio mollitia ad vero adipisci ipsum!

		section#noticias
			.grupo
				//- 3 columnas desde tablet
				.caja.tablet-1-3
					.noticia
						h3.noticia__title Hair Transplants 
							span Vestibulum lacults 
						img.noticia__img(src="http://lorempixel.com/600/400")
						p.noticia__description
							|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in sint cumque aut officia temporibus, ad eum 	pariatur, perferendis illum. Qui similique quaerat nam eius praesentium vitae pariatur. Eum, esse!
							
				//- 3 columnas desde tablet
				.caja.tablet-1-3
					.noticia
						h3.noticia__title Women's hair loss 
							span Vestibulum lacults 
						img.noticia__img(src="http://lorempixel.com/600/400")
						p.noticia__description
							|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in sint cumque aut officia temporibus, ad eum 	pariatur, perferendis illum. Qui similique quaerat nam eius praesentium vitae pariatur. Eum, esse!
				
				//- 3 columnas desde tablet
				.caja.tablet-1-3
					.noticia
						h3.noticia__title Men's hair loss
							span Vestibulum lacults 
						img.noticia__img(src="http://lorempixel.com/600/400")
						p.noticia__description
							|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in sint cumque aut officia temporibus, ad eum 	pariatur, perferendis illum. Qui similique quaerat nam eius praesentium vitae pariatur. Eum, esse!


		section#footer
			.grupo
				//-Pone las dos cosas a los lados.
				.caja.tablet-50
					p.creditos
						| Hair Doctor &copy; 2014 | Privace Policy 
			
				//-Pone las dos cosas a los lados.
				.caja.tablet-50
					.sociales
						a(href="#").sociales__item.icon-facebook
						a(href="#").sociales__item.icon-twitter 
						a(href="#").sociales__item.icon-youtube
						a(href="#").sociales__item.icon-linkedin
						a(href="#").sociales__item.icon-rss















		